// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

// PAGE ONE



// HEADER / NAV BAR BLUE LINE UNDERNEATH WHEN HOVERED


h1, h2{
  text-align: center;
}

h2{ 
  margin-top: 8%
}

.blueline {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;


.blueline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  transition: background-color 0.25s ease;
}
.blueline:hover::after {
  background-color: blue;
}
& img{
  max-width:15%;
}



}






