// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2



// SCREENSHOT 1

// HEADER AND NAV

.navbar {
  border-bottom: 2px solid gray;
  display: flex;

  img {
    max-width: 13%;
    padding-right: 1%;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  a {
    color: black;
    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;
  }

  // Blue line underneath left logo

  .blueline {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .blueline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 5px;
    transition: background-color 0.25s ease;
  }
  .blueline:hover::after {
    background-color: blue;
  }

  &__buttons {
    display: flex;
    margin-right: 5px;

    a {
      width: 130px;
    }
    img {
      max-width: 200%;
    }

    // Blue line underneath NAV elements

    &__buttons::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 5px;
      background-color: transparent;
      transition: background-color 0.25s ease;
    }

    &__buttons:hover::after {
      background-color: blue;
    }
  }
}

// SEARCH BAR / INPUT SPACE

.search {
  position: relative;
  display: flex;
  align-items: center;


  &__input {
    padding: 8px 12px; 
    border: 3px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s; 
    margin-top: 70px;
    width: 80%;
    
    &:focus {
      outline: none;
      border-color: #06befb;
      box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
    }
  }

  &__button {
    position: absolute;
    right: 240px;
    top: 80%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url("/Images/Glass.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }

  & img {
    margin-top: 70px;
  }
}

// GRID BUTTONS

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  width: 100%;
}

.grid-item {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    width: 80%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  .svg-icon {
    stroke: #06befb;
    transition: fill 0.3s, stroke 0.3s;

    
    &:hover {
      fill: #ccc;
      stroke: #ccc;
    }
  }

  &__link:hover {
    background-color: grey;
  }

  &__text {
    text-decoration: none;
    color: black;
  }
}

//RECCOMONDATIONS
.reccomended {
  display: flex;
  align-items: center;

  & h2 {
    margin-right: 3%;
  }

  & a {
    color: #0063fb;
    font-family: se;
  }
}

// CARDS

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: calc(33.33% - 20px);
  transition: background-color 0.3s; 
  margin: 10px;

  & img {
    max-width: 100%;
  }

  &__content {
    font-size: 16px;
  }

  &__heart {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__location {
    color: gray;
  }

  &:hover {
    background-color: #add8e6; 
  }
}




// PAGE TWO

//Base styling for log in card
.login-card {
background: #fff;
padding: 20px;
box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
width: 400px;
height: 500px;
margin-left: auto;
margin-top: 20%;

// Style for logos
&__logo {
  max-width: 100%;
  display: block;
  margin-right: auto;
  height: 10px;
}

&__logo2 {
  max-width: 100%;
  display: block;
  margin-left: auto;
  height: 15px;
}
// Title for card
&__title {
  font-size: 24px;
  margin: 20px 0;
  text-align: left;
}

//Input styles for email and password fields
&__login {
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(236, 234, 234);
}

&__login-hint {
  display: block;
  text-align: left;
  color: #757575;
  font-size: 0.8rem;
  margin-bottom: 16px;
}

// Container for action elements like buttons and links
&__actions {
  margin-top: 20px;
  padding: 20px;
}

//Styling for log in button
&__button {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: white;
  cursor: pointer;
  text-transform: uppercase;

}

//Styling for create acc button 
&__button--secondary {
  background: none;
  color: #007bff;
  margin-top: 10px;

}

&__link {
  
  color: #007bff;
  display: block;
  margin-top: 10px;
}

//Styling for checkbox
&__checkbox {
  margin-top: 30px;
  margin-bottom: 30px;
}

&__checkbox-label {
  display: flex;
  align-items: center;
}

&__checkbox-input {
  margin-right: 10px;
}
}