// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2


// SCREENSHOT 1
* {
  font-family: Arial, sans-serif;
}


.screenshot1 {
  margin-right: 20%;
  margin-left: 20%;
}

// HEADER AND NAV



.navbar {
  border-bottom: 2px solid gray;
  display: flex;

  img {
    max-width: 14vh;
    padding-right: 1%;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  a {
    color: black;
    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;
  }

  // Blue line underneath left logo

  .blueline {
    position: relative;
    text-decoration: none;
    transition: color 0s
  }

  .blueline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    transition: background-color 0.25s ease;
  }

  .blueline:hover::after {
    background-color: blue;
  }

  &__buttons {
    display: flex;
    margin-right: 5px;
    margin-left: auto;

    a {
      width: 130px;
    }

    img {
      max-width: 200%;
    }

    // Blue line underneath NAV elements

    &__buttons::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 5px;
      background-color: transparent;
      margin-left: auto;
    }

    &__buttons:hover::after {
      background-color: blue;
    }
  }
}

// SEARCH BAR / INPUT SPACE

.search {
  position: relative;
  display: flex;
  align-items: center;


  &__input {
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 70px;
    width: 80%;

    &:focus {
      outline: none;
      border-color: #06befb;
      box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
    }
  }

  &__button {
    position: absolute;
    right: 21%;
    top: 80%;
    transform: translateY(-50%);
    width: 3vh;
    height: 3vh;
    background-image: url("/Images/Glass.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }

  & img {
    margin-top: 70px;
    padding-left: 35%;
  }
}

// GRID BUTTONS

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  width: 100%;
}

.grid-item {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  & svg {
    width: 80%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }

  .svg-icon {
    stroke: #06befb;
    transition: fill 0.1s, stroke 0.1s;


    &:hover {
      fill: #ccc;
      stroke: #ccc;
    }
  }

  &__link:hover {
    stroke: #ccc;
  }

  &__text {
    text-decoration: none;
    color: black;
  }
}

//RECCOMONDATIONS
.reccomended {
  display: flex;
  align-items: center;

  & h2 {
    margin-right: 3%;
  }

  & a {
    color: #0063fb;
  }
}

// CARDS

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: 100%;
  transition: background-color 0.3s;
  margin: 10px;

  & img {
    max-width: 100%;
  }

  &__content {
    font-size: 16px;
  }

  &__heart {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__text {
    position: fixed;
    bottom: 20px;
    left: 10px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
  }

  &__location {
    color: gray;
  }

  &:hover {
    background-color: #add8e6;
  }
}




// PAGE TWO

//Styling for log in card
.login-card {
  background: #fff;
  padding: 20px;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
  height: auto;
  margin-right: 0;
  margin-left: 5%;

  // Logo. Finn and Schibsted
  &__logo {
    max-width: 100%;
    display: block;
    margin-right: auto;
    height: 10px;
  }

  &__logo2 {
    max-width: 100%;
    display: block;
    margin-left: auto;
    height: 15px;
  }

  // Title for card
  &__title {
    font-size: 24px;
    margin: 20px 0;
    text-align: left;
  }

  //Input styles for email and password fields
  &__login {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(236, 234, 234);

    &:focus {
      outline: none;
      border-color: #06befb;
      box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
    }
  }

  &__login-hint {
    display: block;
    text-align: left;
    color: #757575;
    font-size: 0.8rem;
    margin-bottom: 16px;
  }

  // Container for action elements like buttons and links
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  //Styling for log in button
  &__button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: white;
    cursor: pointer;
    text-transform: uppercase;

  }

  //Styling for create acc button 
  &__button--secondary {
    background: none;
    color: #007bff;
    padding: 12px;

  }

  &__link {
    color: #007bff;
    display: block;

  }

  //Styling for checkbox
  &__checkbox {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    margin: 0;
  }

  &__checkbox-input {
    margin-right: 10px;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox-image {
    width: 24px;
    height: 24px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  //Grey links login card
  &__footer {
    text-align: center;
    margin-top: auto;
    width: 400px;
    margin-right: 0;
    margin-left: auto;
  }

  &__footer-link {
    color: #757575;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.8rem;
  }

  &__footer-link:hover {
    text-decoration: underline;
  }

}

.content {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  margin-top: 7%;
  margin-bottom: 10%;


  // Styling for the textbox
  .textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F9FF;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
  }

  & p {
    text-align: center;
  }

  .textbox img {
    max-width: 27%;
    margin-bottom: 20px;
  }
}